<a href="https://colab.research.google.com/github/xang1212/PAX_2/blob/main/association_rules_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd

import mlxtend
from mlxtend.frequent_patterns import association_rules, apriori

In [41]:

data=pd.read_csv('sample_data/associaton.csv')
data[:4]

   trans                  items
0      1    apple|cereal|diaper
1      2        beer|cereal|egg
2      3  apple|beer|cereal|egg
3      4               beer|egg

In [42]:
basket=data['items'].str.get_dummies('|')
basket[:5]

   apple  beer  cereal  diaper  egg
0      1     0       1       1    0
1      0     1       1       0    1
2      1     1       1       0    1
3      0     1       0       0    1

In [ ]:
basket.info()

In [29]:
basket=basket.astype(pd.SparseDtype("bool"))
basket[:10]

   apple   beer  cereal  diaper    egg
0   True  False    True    True  False
1  False   True    True   False   True
2   True   True    True   False   True
3  False   True   False   False   True

In [ ]:
basket.info()

In [ ]:
basket

In [30]:
frequent_itemsets = apriori(basket, min_support = 0.5, use_colnames = True)
#frequent_itemsets = fpgrowth(basket, min_support = 0.05, use_colnames = True)

# frequent_itemsets['support_n']=frequent_itemsets['support']*len(basket)
frequent_itemsets.sort_values('support', ascending=False)

   support             itemsets
1     0.75               (beer)
2     0.75             (cereal)
3     0.75                (egg)
6     0.75          (beer, egg)
0     0.50              (apple)
4     0.50      (apple, cereal)
5     0.50       (beer, cereal)
7     0.50        (cereal, egg)
8     0.50  (beer, egg, cereal)

In [31]:
# metrices = ['support', 'confidence', 'lift', 'leverage', and 'conviction']

metric='lift'
# rules = association_rules(frequent_itemsets, metric = "support", min_threshold = .2)
# rules = association_rules(frequent_itemsets, metric = "confidence", min_threshold = .5)
rules = association_rules(frequent_itemsets, metric = metric, min_threshold = 1)

rules.sort_values('support', ascending = False, inplace = True)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(beer),(egg),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
3,(egg),(beer),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
0,(apple),(cereal),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
1,(cereal),(apple),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.5
4,"(beer, cereal)",(egg),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
5,"(cereal, egg)",(beer),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
6,(beer),"(cereal, egg)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.5
7,(egg),"(beer, cereal)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.5

In [36]:
support=basket.sum()/len(basket)
support.sort_values(ascending=False)

beer      0.75
cereal    0.75
egg       0.75
apple     0.50
diaper    0.25
dtype: float64

In [37]:
rules[rules['antecedents'].str.join(',').str.contains('cereal|beer')]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(beer),(egg),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
1,(cereal),(apple),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.5
4,"(beer, cereal)",(egg),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
5,"(cereal, egg)",(beer),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
6,(beer),"(cereal, egg)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.5